
/*https://www.youtube.com/watch?v=o8DTzU0Iol8
https://www.youtube.com/watch?v=aTK3vCzjzCo
*/


.bannerimg {
    width: 940px;
    float:left;
}
.banner .bannerimg {
    border-bottom-style: solid;
    border-top-style: solid;
    
}

.navigation {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    float: left;
    position: absolute;
    top: 50%;
    left: 1%;
}

.mainNavigation{
    list-style: none;
}

li{
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
}

.dropdown:hover .content {
    display: block;
}

.dropStyle {
    list-style:circle;
}

a:any-link {
    color: black;
}

.photo .aboutme {
    width: 70%;
    float: left;
    left: 30%;
}





/* the resume page...*/
#wrapper {
    width: 100%;
}

header {
    padding-top: 25px;
    color: white;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    padding-bottom: 100px;
}

.resumePage {
    background-image: url(industrial-loft-design_163324.jpg);
    background-size:cover;
}

container{
    width: 100%;
}

.hover{
    position: relative;
    display: inline-block;
    width: 20%;
    float: left;
    padding: 1xp;
}

h2 {
    font-family: 'Poiret One', cursive;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: solid black;
    
}

.text {
    font-family: 'Quicksand', sans-serif;
    display: none;
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid black;
    color: solid black;
    padding-left: 10xp;
}

.hover:hover .text{
    display: block;
}

